*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

hr {
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.logo {
  width: 88px;
  height: 32px;
  padding-left: -45px;
}
@media (max-width: 1024px) {
  .logo {
    margin-left: 75px;
  }
}
@media (max-width: 576px) {
  .logo {
    width: 62px;
    height: 22px;
    margin-left: 28px;
  }
}

.logo--big {
  width: 170px;
  height: 55px;
}
@media (max-width: 1024px) {
  .logo--big {
    width: 116px;
    height: 42px;
  }
}
@media (max-width: 768px) {
  .logo--big {
    margin-left: 0;
  }
}
@media (max-width: 576px) {
  .logo--big {
    display: none;
  }
}

.logo--small {
  width: 65px;
  height: 23px;
}

.form {
  max-width: 470px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
}
@media (max-width: 1200px) {
  .form {
    margin: 20px 0;
  }
}
@media (max-width: 1024px) {
  .form {
    max-width: 380px;
    -top: 65px;
  }
}
@media (max-width: 768px) {
  .form {
    margin-right: 20px;
  }
}
.form__inner-wrapper {
  padding: 40px 50px 60px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 576px) {
  .form__inner-wrapper {
    padding: 35px 20px 40px;
  }
}
.form__title {
  margin-bottom: 70px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.form__title > span {
  color: #EC7979;
}
@media (max-width: 1024px) {
  .form__title {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (max-width: 576px) {
  .form__title {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 40px;
  }
}
.form__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #86878B;
}
.form__input {
  outline: none;
  border: none;
  border-bottom: 1px solid #86878B;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 1.5em;
}
.form-btn {
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  padding: 1.2em;
  color: #fff;
  background-color: #EC7979;
  transition: background-color 0.3s;
}
.form-btn:hover {
  background-color: #AB4949;
  cursor: pointer;
}

.form-contact {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 55px;
  padding-bottom: 50px;
}
@media (max-width: 1200px) {
  .form-contact {
    padding: 0 50px 20px;
  }
}
@media (max-width: 1024px) {
  .form-contact {
    padding: 0 50px 10px;
  }
}
@media (max-width: 768px) {
  .form-contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 50px 10px;
  }
}
@media (max-width: 576px) {
  .form-contact {
    padding: 0 50px 10px;
  }
}
.form-contact__input {
  width: 570px;
}
@media (max-width: 1200px) {
  .form-contact__input {
    width: 470px;
  }
}
@media (max-width: 992px) {
  .form-contact__input {
    width: 380px;
  }
}
@media (max-width: 768px) {
  .form-contact__input {
    width: 400px;
  }
}
@media (max-width: 576px) {
  .form-contact__input {
    width: 280px;
  }
}
.form-contact__label {
  margin-top: 40px;
}
@media (max-width: 768px) {
  .form-contact__label {
    margin-top: 20px;
  }
}
.form-contact .form__info {
  display: flex;
  flex-direction: column;
}
.form-contact .form__text {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  row-gap: 214px;
}
@media (max-width: 768px) {
  .form-contact .form__text {
    row-gap: 50px;
  }
}
@media (max-width: 576px) {
  .form-contact .form__text {
    row-gap: 100px;
  }
}

.btn {
  border: 2px solid #fff;
  outline: none;
  background: none;
  padding: 1em 5em;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  transition: border 0.3s, color 0.3s;
}
@media (max-width: 1024px) {
  .btn {
    margin-left: 75px;
    padding: 1em 3em;
  }
}
@media (max-width: 768px) {
  .btn {
    margin-left: 0;
  }
}
.btn:hover {
  cursor: pointer;
  border: 2px solid #EC7979;
  color: #EC7979;
}

.btn-tab,
.btn-message {
  border: none;
  background-color: #EC7979;
  padding: 18px 90px;
  transition: background-color 0.3s, border 0.3s;
  cursor: pointer;
  margin-top: 27px;
  margin-left: 65px;
}
.btn-tab:hover,
.btn-message:hover {
  background-color: #AB4949;
  border: none;
  color: #fff;
}
@media (max-width: 1024px) {
  .btn-tab,
.btn-message {
    padding: 18px 70px;
    margin-top: 35px;
  }
}
@media (max-width: 576px) {
  .btn-tab,
.btn-message {
    padding: 14px 75px;
    display: block;
    margin: 0 auto;
    margin-top: 29px;
  }
}

.btn-message {
  margin: 0 auto;
}

.header {
  background-color: #000000;
  width: 100%;
  height: 75px;
}
@media (max-width: 768px) {
  .header {
    height: 56px;
  }
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
}
@media (max-width: 768px) {
  .header__inner {
    height: 56px;
  }
}
.header__nav {
  width: 575px;
  height: 100%;
}
@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
}
.header__nav-list {
  display: flex;
  height: 100%;
  width: 100%;
}
.header__nav-item {
  width: 115px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}
.header__nav-item:hover {
  background-color: #EC7979;
}
.header__nav-item:hover > a {
  text-transform: uppercase;
}
.header__nav-item:active {
  background-color: #AB4949;
}
.header__nav-item:active > a {
  text-transform: uppercase;
}
.header__nav-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  text-transform: capitalize;
  transition: 0.5s;
}

.input-burger {
  display: none;
}

.burger__label {
  margin-right: 30px;
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  .burger__label {
    display: block;
  }
}
.burger__label > svg {
  width: 24px;
  height: 18px;
}
.burger__menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  z-index: 100;
  transform: translateX(-150vw);
  transition: all 0.5s;
  padding: 2.5em;
  display: flex;
  flex-direction: column;
}
.burger__close {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  display: block;
  align-self: flex-end;
}
.burger__nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  list-style: none;
}
.burger__nav-link {
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.input-burger:checked ~ .burger__menu {
  transform: translateX(0);
}

.hero {
  padding: 200px 0 180px;
  background: url("../../assets/img/hero_bj.jpg") center/cover no-repeat;
}
.hero__content {
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media (max-width: 768px) {
  .hero__content {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.hero__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 50px;
}
.hero__info > .logo {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .hero__info {
    align-items: center;
  }
}
.hero__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 1024px) {
  .hero__title {
    font-size: 36px;
    line-height: 42px;
    margin-left: 75px;
  }
}
@media (max-width: 768px) {
  .hero__title {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
  }
}
.hero__divider {
  width: 170px;
}
@media (max-width: 1024px) {
  .hero__divider {
    width: 116px;
    margin-left: 75px;
  }
}
@media (max-width: 768px) {
  .hero__divider {
    margin-left: 0;
  }
}
.hero__description {
  max-width: 270px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}
@media (max-width: 1024px) {
  .hero__description {
    font-size: 14px;
    line-height: 16px;
    margin-left: 75px;
  }
}
@media (max-width: 768px) {
  .hero__description {
    text-align: center;
    margin-left: 0;
  }
}

.social {
  background-color: #F8EFEF;
}
.social__info {
  max-width: 470px;
  padding-right: 30px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .social__info {
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  .social__info {
    justify-content: center;
  }
}
.social__content {
  display: flex;
  width: 100%;
}
@media (max-width: 768px) {
  .social__content {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.social__title {
  color: #333333;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: capitalize;
  padding-top: 20px;
}
@media (max-width: 1024px) {
  .social__title {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (max-width: 768px) {
  .social__title {
    padding-bottom: 30px;
  }
}
.social__discription {
  color: #86878B;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
@media (max-width: 1024px) {
  .social__discription {
    font-size: 14px;
    line-height: 16px;
  }
}
.social__icons {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 1200px) {
  .social__icons {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 576px) {
  .social__icons {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.social__icons a {
  text-decoration: none;
  padding: 35px 0 35px;
}
.social__icons a svg {
  width: 70px;
  height: 70px;
  transform: translateY(0);
  transition: all 0.5s;
}
@media (max-width: 1200px) {
  .social__icons a svg {
    width: 64px;
    height: 64px;
  }
}
@media (max-width: 576px) {
  .social__icons a svg {
    width: 30px;
    height: 30px;
  }
}
.social__icons a svg:hover {
  transform: translateY(-10px);
}

.tabs {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 90px;
}
@media (max-width: 1024px) {
  .tabs {
    margin-top: 50px;
  }
}
@media (max-width: 568px) {
  .tabs {
    margin-bottom: 40px;
  }
}
.tabs__content {
  display: flex;
  width: 100%;
}
@media (max-width: 1024px) {
  .tabs__content {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.tabs__content-image {
  background: url("../../assets/img/img__freedom.jpg") center/cover no-repeat;
  width: 450px;
  max-height: 366px;
  position: relative;
  top: 41px;
}
@media (max-width: 1024px) {
  .tabs__content-image {
    width: 470px;
    max-height: 305px;
  }
}
@media (max-width: 568px) {
  .tabs__content-image {
    display: none;
  }
}
.tabs__check {
  max-width: 700px;
}
.tabs__check .radio {
  display: none;
}
.tabs__check .radio:checked + label {
  border-top: 1px solid #C6CBCD;
  border-left: 1px solid #C6CBCD;
  border-right: 1px solid #C6CBCD;
  border-bottom: 1px solid #fff;
}
.tabs__check .tab {
  display: none;
  border: 1px solid #C6CBCD;
  border-right: none;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
@media (max-width: 568px) {
  .tabs__check .tab {
    border-right: 1px solid #C6CBCD;
  }
}
.tabs__label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-top: 1px solid #C6CBCD;
  border-left: 1px solid #C6CBCD;
  border-right: 1px solid #C6CBCD;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 80px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 1px;
  border: none;
}
@media (max-width: 1024px) {
  .tabs__label {
    padding: 10px 40px;
  }
}
@media (max-width: 568px) {
  .tabs__label {
    padding: 10px 23px;
  }
}
.tabs .content__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  margin-bottom: 70px;
  margin-top: 40px;
  padding-left: 70px;
}
@media (max-width: 1024px) {
  .tabs .content__title {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 60px;
    margin-top: 30px;
  }
}
@media (max-width: 568px) {
  .tabs .content__title {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    padding-left: 0px;
    margin-bottom: 50px;
    padding: 0 30px;
  }
}
.tabs .content__description {
  padding-left: 65px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
@media (max-width: 1024px) {
  .tabs .content__description {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 568px) {
  .tabs .content__description {
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    padding-left: 0px;
  }
}
.tabs #tab-btn-1:checked ~ #tab-1,
.tabs #tab-btn-2:checked ~ #tab-2,
.tabs #tab-btn-3:checked ~ #tab-3 {
  display: block;
}

.about {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.about__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 110px;
}
@media (max-width: 1200px) {
  .about__content {
    margin: 0 15px;
  }
}
.about__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  text-align: center;
  color: #000000;
}
@media (max-width: 1024px) {
  .about__title {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (max-width: 576px) {
  .about__title {
    font-size: 16px;
    line-height: 21px;
  }
}
.about .about__divider {
  width: 170px;
  border: 1px solid #AB4949;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .about .about__divider {
    width: 142px;
  }
}
@media (max-width: 576px) {
  .about .about__divider {
    width: 134px;
    margin-top: 55px;
    margin-bottom: 25px;
  }
}
.about__discription {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878B;
}
@media (max-width: 1024px) {
  .about__discription {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 576px) {
  .about__discription {
    font-size: 13px;
    line-height: 15px;
  }
}
.about .cards__info {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 576px) {
  .about .cards__info {
    flex-wrap: wrap;
    -moz-column-gap: 0;
         column-gap: 0;
    justify-content: center;
    row-gap: 45px;
  }
}
.about .card {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .card__icon {
  width: 92px;
  height: 92px;
  margin-bottom: 80px;
}
@media (max-width: 1024px) {
  .about .card__icon {
    width: 80px;
    height: 80px;
    margin-bottom: 65px;
  }
}
.about .card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: capitalize;
  color: #000000;
  text-align: center;
  padding-bottom: 50px;
}
@media (max-width: 1024px) {
  .about .card__title {
    font-size: 18px;
    line-height: 25px;
  }
}
.about .card__discription {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}
@media (max-width: 1024px) {
  .about .card__discription {
    font-size: 14px;
    line-height: 16px;
  }
}

.pricing {
  width: 100%;
  background-color: #F5F5F5;
  padding-top: 105px;
}
.pricing__main {
  width: 100%;
}
@media (max-width: 1200px) {
  .pricing__main {
    padding: 0 15px;
  }
}
.pricing__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}
.pricing__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 1024px) {
  .pricing__title {
    font-size: 24px;
    line-height: 28px;
  }
}
.pricing__divider {
  width: 170px;
  border: 1px solid #AB4949;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .pricing__divider {
    width: 142px;
  }
}
@media (max-width: 576px) {
  .pricing__divider {
    width: 134px;
    margin-top: 50px;
    margin-bottom: 25px;
  }
}
.pricing__discription {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878B;
}
@media (max-width: 1024px) {
  .pricing__discription {
    font-size: 14px;
    line-height: 16px;
  }
}
.pricing__container {
  width: 100%;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 1024px) {
  .pricing__container {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
@media (max-width: 576px) {
  .pricing__container {
    flex-wrap: wrap;
    -moz-column-gap: 0;
         column-gap: 0;
    justify-content: center;
  }
}

.pricing-card {
  width: 370px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(0);
  transition: all 0.5s;
}
@media (max-width: 1024px) {
  .pricing-card {
    width: 320px;
  }
}
@media (max-width: 576px) {
  .pricing-card {
    width: 290px;
  }
}
.pricing-card:hover {
  transform: translateY(-25px);
  cursor: pointer;
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}
.pricing-card__title {
  width: 100%;
  padding: 20px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: capitalize;
  color: #fff;
  background-color: #000000;
  border-bottom: 2px solid #F5F5F5;
  text-align: center;
}
@media (max-width: 1024px) {
  .pricing-card__title {
    padding: 20px 0 15px;
  }
}
@media (max-width: 576px) {
  .pricing-card__title {
    font-size: 18px;
    line-height: 25px;
    padding: 15px 0;
  }
}
.pricing-card__price {
  width: 100%;
  padding: 32px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  background-color: #000000;
  text-align: center;
  border-bottom: 2px solid #F5F5F5;
}
@media (max-width: 1024px) {
  .pricing-card__price {
    padding: 30px 0;
  }
}
@media (max-width: 576px) {
  .pricing-card__price {
    font-size: 24px;
    line-height: 28px;
  }
}
.pricing-card__subtitle {
  width: 100%;
  padding: 18px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  background-color: #000000;
  text-align: center;
  border-bottom: 2px solid #F5F5F5;
}
@media (max-width: 1024px) {
  .pricing-card__subtitle {
    padding: 14px 0;
  }
}
@media (max-width: 576px) {
  .pricing-card__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}
.pricing-card__discription {
  width: 100%;
  padding: 18px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #86878B;
  background-color: #fff;
  text-align: center;
  border-bottom: 2px solid #F5F5F5;
}
@media (max-width: 1024px) {
  .pricing-card__discription {
    padding: 14px 0;
  }
}
@media (max-width: 576px) {
  .pricing-card__discription {
    font-size: 14px;
    line-height: 16px;
  }
}

.reviews {
  width: 100%;
  padding-bottom: 65px;
}
@media (max-width: 1200px) {
  .reviews {
    padding-bottom: 55px;
  }
}
@media (max-width: 576px) {
  .reviews {
    padding-bottom: 30px;
  }
}
.reviews__info {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 85px;
}
@media (max-width: 1200px) {
  .reviews__info {
    padding-bottom: 35px;
  }
}
@media (max-width: 576px) {
  .reviews__info {
    padding-bottom: 25px;
  }
}
.reviews__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 1024px) {
  .reviews__title {
    font-size: 24px;
    line-height: 28px;
  }
}
.reviews__divider {
  width: 170px;
  border: 1px solid #AB4949;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .reviews__divider {
    width: 142px;
    margin-top: 50px;
    margin-bottom: 35px;
  }
}
@media (max-width: 576px) {
  .reviews__divider {
    width: 134px;
    margin-top: 35px;
    margin-bottom: 30px;
  }
}
.reviews__discription {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #86878B;
}
@media (max-width: 1024px) {
  .reviews__discription {
    font-size: 14px;
    line-height: 16px;
  }
}
.reviews__cards {
  width: 100%;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 1200px) {
  .reviews__cards {
    -moz-column-gap: 20px;
         column-gap: 20px;
    justify-content: center;
    padding: 15px 0;
  }
}
.reviews__dots {
  display: none;
  width: 130px;
  height: 10px;
}
@media (max-width: 768px) {
  .reviews__dots {
    display: block;
    margin: 0 auto;
  }
}

.cards-block {
  width: 370px;
}
@media (max-width: 1200px) {
  .cards-block {
    width: 320px;
  }
}
@media (max-width: 576px) {
  .cards-block {
    width: 288px;
  }
}
.cards-block__discription {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #86878B;
  background-color: #E2E2E2;
  border-radius: 10px;
  padding: 45px 20px;
  margin-bottom: 65px;
}
@media (max-width: 1200px) {
  .cards-block__discription {
    font-size: 14px;
    line-height: 16px;
  }
}
.cards-block__info {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 1200px) {
  .cards-block__info {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.cards-block__img {
  width: 70px;
  height: 70px;
}
@media (max-width: 1200px) {
  .cards-block__img {
    width: 63px;
    height: 63px;
  }
}
@media (max-width: 576px) {
  .cards-block__img {
    width: 57px;
    height: 57px;
  }
}
.cards-block__person {
  width: 100%;
}
.cards-block__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: capitalize;
  color: #000000;
  padding-top: 10px;
}
@media (max-width: 1200px) {
  .cards-block__name {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (max-width: 576px) {
  .cards-block__name {
    font-size: 14px;
    line-height: 19px;
  }
}
.cards-block__position {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding-top: 25px;
}
@media (max-width: 1200px) {
  .cards-block__position {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 576px) {
  .cards-block__position {
    font-size: 13px;
    line-height: 15px;
  }
}
@media (max-width: 768px) {
  .cards-block-slide {
    display: none;
  }
}

#triangle {
  position: relative;
  top: -69px;
  left: 60px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #E2E2E2;
}

.design {
  width: 100%;
  background: url("../../assets/img/design_bg.jpg") center/cover no-repeat;
  background-attachment: fixed;
  padding-top: 105px;
  padding-bottom: 50px;
}
@media (max-width: 1200px) {
  .design {
    padding-top: 100px;
  }
}
@media (max-width: 576px) {
  .design {
    padding-top: 50px;
  }
}
.design__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 1200px) {
  .design__title {
    font-size: 24px;
    line-height: 28px;
    margin: 0 15px;
  }
}
.design__divider {
  width: 170px;
  border: 1px solid #fff;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .design__divider {
    width: 142px;
    margin-top: 50px;
    margin-bottom: 35px;
  }
}
@media (max-width: 576px) {
  .design__divider {
    width: 134px;
    margin-bottom: 15px;
  }
}
.design__discription {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fff;
  padding-bottom: 75px;
}
@media (max-width: 1200px) {
  .design__discription {
    font-size: 14px;
    line-height: 16px;
    margin: 0 15px;
    padding-bottom: 35px;
  }
}
@media (max-width: 576px) {
  .design__discription {
    padding-bottom: 60px;
  }
}

.btn-design {
  display: block;
  margin: 0 auto;
  width: 370px;
  height: 60px;
}
@media (max-width: 1200px) {
  .btn-design {
    width: 318px;
  }
}
@media (max-width: 576px) {
  .btn-design {
    width: 290px;
  }
}

.contact {
  width: 100%;
  padding-top: 105px;
  padding-bottom: 50px;
}
@media (max-width: 1200px) {
  .contact {
    padding-top: 100px;
  }
}
.contact__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 1200px) {
  .contact__title {
    font-size: 24px;
    line-height: 28px;
  }
}
.contact__divider {
  width: 170px;
  border: 1px solid #AB4949;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .contact__divider {
    width: 142px;
    margin-top: 50px;
    margin-bottom: 35px;
  }
}
@media (max-width: 576px) {
  .contact__divider {
    width: 134px;
    margin-bottom: 15px;
  }
}
.contact__discription {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #86878B;
}
@media (max-width: 1200px) {
  .contact__discription {
    font-size: 14px;
    line-height: 16px;
    margin: 0 15px;
    padding-bottom: 35px;
  }
}
@media (max-width: 576px) {
  .contact__discription {
    padding-bottom: 60px;
  }
}

.footer {
  background-color: #000000;
}
.footer__icons {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  justify-content: center;
}
@media (max-width: 1200px) {
  .footer__icons {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 576px) {
  .footer__icons {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.footer__icons a {
  text-decoration: none;
  padding: 35px 0 35px;
}
@media (max-width: 1200px) {
  .footer__icons a {
    padding: 35px 0 40px;
  }
}
@media (max-width: 576px) {
  .footer__icons a {
    padding: 35px 0 45px;
  }
}
.footer__icons a svg {
  width: 55px;
  height: 55px;
  transform: translateY(0);
  transition: all 0.5s;
}
@media (max-width: 1200px) {
  .footer__icons a svg {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 576px) {
  .footer__icons a svg {
    width: 26px;
    height: 26px;
  }
}
.footer__icons a svg:hover {
  transform: translateY(-10px);
}
.footer__info {
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 1200px) {
  .footer__info {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 576px) {
  .footer__info {
    padding-bottom: 45px;
  }
}/*# sourceMappingURL=styles.css.map */