.tabs {
	width: 100%;
	margin-top: 80px;
	margin-bottom: 90px;

	@media (max-width: 1024px) {
		margin-top: 50px;
	}

	@media (max-width: 568px) {
		margin-bottom: 40px;
	}

	&__content {
		display: flex;
		width: 100%;

		@media (max-width: 1024px) {

			margin-left: 20px;
			margin-right: 20px;
		}


	}

	&__content-image {
		background: url('../../assets/img/img__freedom.jpg') center/cover no-repeat;
		width: 450px;
		max-height: 366px;
		position: relative;
		top: 41px;
	
		@media (max-width: 1024px) {
			width: 470px;
			max-height: 305px;
		}
	
		@media (max-width: 568px) {
			display: none;
		}
	}

	&__check {
		max-width: 700px;

		.radio {
			display: none;
		}

		.radio:checked+label {
			border-top: 1px solid $main_gray_tabs;
			border-left: 1px solid $main_gray_tabs;
			border-right: 1px solid $main_gray_tabs;
			border-bottom: 1px solid $main_white;
		
		}

		.tab {
			display: none;
			border: 1px solid $main_gray_tabs;
			border-right: none;
			padding: 10px 15px;
			font-weight: 400;
			font-size: 18px;
			line-height: 21px;
			color: $main_black_dark;

			@media (max-width: 568px) {
				border-right: 1px solid $main_gray_tabs;
			}
		}
	}

	&__label {
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		user-select: none;
		border-top: 1px solid $main_gray_tabs;
		border-left: 1px solid $main_gray_tabs;
		border-right: 1px solid $main_gray_tabs;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		padding: 10px 80px;
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
		text-transform: uppercase;
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
		cursor: pointer;
		position: relative;
		top: 1px;
		border: none;

		@media (max-width: 1024px) {
			padding: 10px 40px
		}

		@media (max-width: 568px) {
			padding: 10px 23px;
		}
	}

	
	.content__title {
		font-weight: 700;
		font-size: 30px;
		line-height: 41px;
		margin-bottom: 70px;
		margin-top: 40px;
		padding-left: 70px;

		@media (max-width: 1024px) {
			font-size: 24px;
			line-height: 33px;
			margin-bottom: 60px;
			margin-top: 30px;
		}

		@media (max-width: 568px) {
			font-size: 18px;
			line-height: 25px;
			text-align: center;
			padding-left: 0px;
			margin-bottom: 50px;
			padding: 0 30px;
		}
	}

	.content__description {
		padding-left: 65px;
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		color: $main_black_dark;

		@media (max-width: 1024px) {
			font-size: 14px;
			line-height: 16px;
		}

		@media (max-width: 568px) {
			font-size: 13px;
			line-height: 15px;
			text-align: center;
			padding-left: 0px;
		}
	}

	#tab-btn-1:checked~#tab-1,
	#tab-btn-2:checked~#tab-2,
	#tab-btn-3:checked~#tab-3 {
		display: block;
	}

	
}