.form {
	max-width: 470px;
	background-color: $main_white;
	overflow: hidden;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex-shrink: 0;

	@media (max-width: $screen-tablet) {
		max-width: 380px;
	}

	&__inner-wrapper {
		padding: 40px 50px 60px;
		display: flex;
		flex-direction: column;

		@media (max-width: $screen-sm-min) {
			padding: 35px 20px 40px;
		}
	}

	&__title {
		margin-bottom: 70px;
		font-weight: 700;
		font-size: 24px;
		line-height: 33px;
		text-align: center;
		text-transform: uppercase;
		color: $main_gray_dark;


		>span {
			color: $main_coral;
		}

		@media (max-width: $screen-tablet) {
			font-size: 18px;
			line-height: 25px;
		}

		@media (max-width: $screen-sm-min) {
			font-size: 14px;
			line-height: 19px;
			margin-bottom: 40px;
		}
	}


	&__label {
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
		color: $main_gray_light;
	}

	&__input {
		outline: none;
		border: none;
		border-bottom: 1px solid $main_gray_light;
		padding: 5px;
		font-size: 14px;
		margin-bottom: 1.5em;
	}

	&-btn {
		border: none;
		outline: none;
		font-weight: 600;
		font-size: 15px;
		line-height: 20px;
		padding: 1.2em;
		color: $main_white;
		background-color: $main_coral;
		transition: background-color 0.3s;

		&:hover {
			background-color: $main_dark_coral;
			cursor: pointer;
		}
	}
}

.form-contact {
	display: flex;
	justify-content: space-between;
	column-gap: 30px;
	row-gap: 55px;

	@media (max-width: $screen-xl-min) {
		padding-left: 20px;
		padding-right: 20px;
	}

	@media (max-width: $screen-tablet) {
		padding-left: 10px;
		padding-right: 10px;
	}

	@media (max-width: $screen-md-min) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0;
	}

	@media (max-width: $screen-sm-min) {
		padding-left: 10px;
		padding-right: 10px;
	}

	&__input {
		width: 570px;

		@media (max-width: $screen-xl-min) {
			width: 470px;
		}

		@media (max-width: $screen-lg-min) {
			width: 380px;
		}

		@media (max-width: $screen-md-min) {
			width: 400px;
		}

		@media (max-width: $screen-sm-min) {
			width: 280px;
		}
	}

	&__label {
		margin-top: 40px;

		@media (max-width: $screen-md-min) {
			margin-top: 20px;
		}
	}

	.form__info {
		display: flex;
		flex-direction: column;
	}

	.form__text {
		display: flex;
		flex-direction: column;
		align-content: space-between;
		row-gap: 214px;

		@media (max-width: $screen-md-min) {
			row-gap: 50px;
		}

		@media (max-width: $screen-sm-min) {
			row-gap: 100px;
		}
	}
}