.logo {
	width: 88px;
	height: 32px;
	padding-left: -45px;

	@media (max-width: $screen-tablet) {
		margin-left: 75px;
	}


	@media (max-width: $screen-sm-min) {
		width: 62px;
		height: 22px;
		margin-left: 28px;

	}
}

.logo--big {
	width: 170px;
	height: 55px;

	@media (max-width: $screen-tablet) {
		width: 116px;
		height: 42px;
	}

	@media (max-width: $screen-md-min) {
		margin-left: 0;
	}

	@media (max-width: $screen-sm-min) {
		display: none;
	}
}

.logo--small {
	width: 65px;
	height: 23px;
}